<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="ionicMaterail/dist/ionic.material.css"/>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="ionicMaterail/dist/ionic.material.js"></script>
  </head>
  <body ng-app="starter" ng-controller="cntrl1">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Hello App</h1>
      </ion-header-bar>
      <ion-content>
        <ul class="list">

          <li class="item item-icon-left item-icon-right" href="#" ng-repeat="a in arr">
            <label class="checkbox">
              <input type="checkbox">
            </label>
            {{a}}
            <i class="icon ion-android-delete" ng-click="delete($index)"></i>
          </li>


        </ul>


      </ion-content>


    </ion-pane>


    <div class="bar bar-footer">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" ng-model="list" placeholder="Email">

          </label>
          <button class="button button-small" ng-click="send()">
            Submit
          </button>
        </div>
    </div>
  </body>
</html>
